/* body{
  margin: 0px;
  padding: 0px;  
  color:#777777;
  background-color:#dddddd;   
}

#header{
  background-color:#ffffff;
  overflow:hidden;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
}

#name {
  float:left;
  background-color:#4aaaa5;
  margin-left:270px;
  padding: 5px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

 h1 {
color:#ffffff
}

#menu {
  float:right;
  display:inline-block;
  margin:20px 270px 40px 100px; 
}

a {  
  text-decoration: none;
  color:#777777;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

main content

#mainContent {
  width:960px;
  margin:auto;
float:left;
display:inline-block;
}

#proPic{
  color:#777777;
}

img {
   width:200px; 
  padding:10px;
}

.aboutMe {
  background-color:#ffffff;
  float: left;
  width: 650px;
display: inline-block;
  margin-top:100px;
margin-left:50px;
font-family: 'Georgia', Times, Times New Roman, serif;
}
h3 {
  background-color:#ffffff;
width:650px;
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
margin-left:100px;
  padding:10px 30px ;
  border-bottom: 2px solid gray;
}

side bar

#connectWithMe {
  display:inline-block;
  float:right;
  margin-top:100px;
margin-left:50px;
  margin-bottom:100px;
  background-color:#ffffff;
top-margin:100px;
left-margin:20px;
margin-left:720px;
}

h4 {
  background-color:#ffffff;
  width:270px;
float:right;
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  border-bottom: 2px solid gray;
}
#links {
float:right;
}
footer
h5 {
  color:#777777;
}
#footer {
 
}
footer{
  border-top:4px solid #4aaaa5;
  background: #666666;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align:center;
color:#777777;
} */
body{
  margin: 0px;
  padding: 0px;  
  color:#777777;
  background-color:#dddddd;   
}

#header{
  background-color:#ffffff;
  overflow:hidden;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  position:absolute;
 
}

#name {
  float:left;
  background-color:#4aaaa5;
  margin-left:200px;
  padding: 5px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  /*position:absolute;*/
}

 h1 {
color:#ffffff
}

#menu {
  float:right;
  display:inline-block;
  margin:30px 200px 40px 100px; 
}

a {  
  text-decoration: none;
  color:#777777;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/*main content*/

#mainContent {
  width:960px;
  margin:auto;
}

#proPic{
width:200px;
float:left;
}

#ports {
  width:40%;
  float:left;
  margin: 1.66%;
}
.aboutMe {
  background-color:#ffffff;
  float: left;
  width: 650px;
  margin-top:100px;
}

#portfolioInfo {
  position:relative;
  left:30px;
  padding-top:15px;
  padding-bottom:30px;
  
/*   margin-left:50px; */
/*   font-family: 'Georgia', Times, Times New Roman, serif; */
}
p {
  float:left;
  width:400px;
  
}

h3 {
  font-size:30px;
  background-color:#ffffff;
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding:10px ;
  border-bottom: 2px solid gray;
  width:600px;
  margin:auto;
}

/*#text{
  float:left;
}*/

/* side bar */

#contactMe {
  display:inline-block;
  float:right;
  margin-top:100px;
/*   margin-left:50px; */
  margin-bottom:100px;
  background-color:#ffffff;
  padding:10px;


/*   top-margin:100px; */
/*   left-margin:20px; */
/*   margin-left:720px; */
}

h4 {
  background-color:#ffffff;
  width:235px;
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  border-bottom: 1px solid gray;
  margin:auto;
  padding:5px;
  text-align:center;
  font-size: 20px;
}
#links {
  position:relative;
  left:30px;
  padding-top:15px;
  padding-bottom:30px;
}
/* footer */
h5 {
  color:#777777;
}
#footer {
 
}
footer{
  border-top:4px solid #4aaaa5;
  background: #666666;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align:center;
/*   color:#777777; */
}